.cartWidget__icon {
    color: lightcyan;
}

.cartWidget__counter {
    color: lightcyan;
    padding: 0rem 0.5rem 0rem 0.4rem;
    border-radius: 15%;
    position: absolute;
    line-height: 1rem;
    transform: translateX(10%) translateY(10%);
    font-size: 1.2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .cartWidget__icon {
        font-size: 1.5rem;
    }
    .cartWidget__counter {
        font-size: 1.5rem;
    }
}