.navbar{
    height: 10rem; 
    text-decoration: none; 
    background-color: grey;
    text-align: center;
    
    
    

}

.text{
    text-decoration: none;
    padding: 2rem;
    align-content: space-between;
    color: papayawhip;
    font-size: large;
    align-items: center;
    margin: 3px;
    
}



.nabvar-brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
